	<!-- <div class="jumbotron text-center"> -->
	<div class="jumbotron jumbo-custom jumbo-map">
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	                	<span class="sr-only">Toggle navigation</span>
	                	<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	                	<span class="icon-bar"></span>
	            	</button>
					<a class="navbar-brand" href="/">Terrain UK</a>
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/win2">Normal Map</a></li>
						<li><a href="/win3">Depth Map</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id='map-canvas'></div>

<!-- </div> -->