
	<div class="jumbotron">
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	                	<span class="sr-only">Toggle navigation</span>
	                	<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	                	<span class="icon-bar"></span>
	            	</button>
					<a class="navbar-brand" href="/">Terrain UK Placeholder</a>
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/win2">Normal Map</a></li>
						<li><a href="/win3">Depth Map</a></li>
					</ul>
				</div>
			</div>

			<div class="introduction text-center">

				<h1>Welcome to Terrain UK</h1>
				<h4>Begin exploring the UK in Depth</h4>

				<div class="intro-buttons">
					<a href="/win2" class="btn btn-primary" role="button">Get Started</a>
					<a href="/win3">Try the tutorial</a>
				</div>

				<img src="imgs/mapTitle.png" alt="" />
			</div>

		</div>
	</div>

	<div id="intro">
		<div class="container"></div>
			<div class="row">

				<div class="col-md-6">
					<div class="container">
				    	<div id="logo">
				    		<div id="m_left_wrapper" class="transition_one_sec logo-piece">
								<div id="mountain_left" class="transition_one_sec ">
									<svg width="100%" height="100%" viewBox="0 0 900 400">
										<polygon fill="#253B24" points="50,200 320,65 495,200 "/>
										<polygon fill="#3D5433" points="68,195.5 315.5,74 225,191 "/>
										<polygon fill="#4C7E4C" points="459,193.7 324.5,74 481.5,195.5 "/>
									</svg>
								</div>
							</div>
							<div id="m_right_wrapper" class="transition_one_sec logo-piece">
								<div id="mountain_right" class="transition_one_sec">
									<svg width="100%" height="100%" viewBox="0 0 900 400">
										<polygon fill="#253B24" points="300,200 600,50 850,200 	"/>
										<polygon fill="#3D5433" points="320,195 595,60 550,190 	"/>
										<polygon fill="#4C7E4C" points="810,193 605,60 835,195 	"/>	
									</svg>
								</div>
							</div>
							<div class="logo-piece">
								<svg width="100%" height="100%" viewBox="0 0 900 400">
									<text transform="matrix(1 0 0 1 45 320)" font-family='ZonaPro-Bold' font-size="150" fill="#D6D6D6">Terrain UK</text>
								</svg>
							</div>
							<div id="tagline_wrapper" class="transition_one_sec logo-piece">
								<div id="tagline" class="transition_one_sec logo-piece">
									<svg width="100%" height="100%" viewBox="0 0 900 400">
										<text transform="matrix(1 0 0 1 66 320)" font-family='ZonaPro-Bold' font-size="40" fill="#8A8A8A">Explore the UK in depth</text>
									</svg>
								</div>
							</div>	
				    	</div>
				    </div>
				</div>

				<div class="col-md-6">
					<img src="imgs/ukIntro.jpg" alt="" />
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="introText text-center"
						<p> Here at Terrain UK, we've worked hard to provide you with a tool thats easy to use, visually appealing and works great! </p>
						<p> Planning a cycling trip but not sure where the best downhills are? Ever wondered if you've been climbing up a hill to work all this time? Maybe you're a games developer and you would like an effective terrain mapper? </p>
						<p> Our tool will satisfy all these requirements and more! </p>
					</div>
				</div>

			</div>
		</div>
	</div>

<!--
<div class="jumbotron">
    <div class="container">
    	<div id="logo">
    		<div id="m_left_wrapper" class="transition_one_sec logo-piece">
				<div id="mountain_left" class="transition_one_sec ">
					<svg width="900px" height="400px" viewBox="0 0 900 400">
						<polygon fill="#253B24" points="50,200 320,65 495,200 "/>
						<polygon fill="#3D5433" points="68,195.5 315.5,74 225,191 "/>
						<polygon fill="#4C7E4C" points="459,193.7 324.5,74 481.5,195.5 "/>
					</svg>
				</div>
			</div>
			<div id="m_right_wrapper" class="transition_one_sec logo-piece">
				<div id="mountain_right" class="transition_one_sec">
					<svg width="900px" height="400px" viewBox="0 0 900 400">
						<polygon fill="#253B24" points="300,200 600,50 850,200 	"/>
						<polygon fill="#3D5433" points="320,195 595,60 550,190 	"/>
						<polygon fill="#4C7E4C" points="810,193 605,60 835,195 	"/>	
					</svg>
				</div>
			</div>
			<div class="logo-piece">
				<svg width="900px" height="400px" viewBox="0 0 900 400">
					<text transform="matrix(1 0 0 1 45 320)" font-family='ZonaPro-Bold' font-size="150" fill="#D6D6D6">Terrain UK</text>
				</svg>
			</div>
			<div id="tagline_wrapper" class="transition_one_sec logo-piece">
				<div id="tagline" class="transition_one_sec logo-piece">
					<svg width="900px" height="400px" viewBox="0 0 900 400">
						<text transform="matrix(1 0 0 1 66 320)" font-family='ZonaPro-Bold' font-size="40" fill="#8A8A8A">Explore the UK in depth</text>
					</svg>
				</div>
			</div>	
    	</div>
    	<div class="text-left">
       	 	<p><a class="btn btn-primary btn-lg" href="/win2" role="button">Begin Exploring</a></p>
    	</div>
    </div>
</div>
-->