
<div class="jumbotron">
    <div class="container">
    	<div class="logo">
    		<svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="900px"
			height="400px" viewBox="0 0 900 400" enable-background="new 0 0 900 400" xml:space="preserve">
				<g id="m_left_wrapper" class="transition_one_sec">
					<g id="mountain_left" class="transition_one_sec">
						<polygon fill="#253B24" points="50,200 320,65 495,200 "/>
						<polygon fill="#3D5433" points="68,195.5 315.5,74 225,191 "/>
						<polygon fill="#4C7E4C" points="459,193.7 324.5,74 481.5,195.5 "/>
					</g>
				</g>
				<g id="m_right_wrapper" class="transition_one_sec">
					<g id="mountain_right" class="transition_one_sec">
						<polygon fill="#253B24" points="300,200 600,50 850,200 	"/>
						<polygon fill="#3D5433" points="320,195 595,60 550,190 	"/>
						<polygon fill="#4C7E4C" points="810,193 605,60 835,195 	"/>
					</g>
				</g>
				<g id="title">
					<text transform="matrix(1 0 0 1 45 320)" font-family='ZonaPro-Bold' font-size="150" fill="#D6D6D6">Terrain UK</text>
				</g>
				<g id="tagline_wrapper" class="transition_one_sec">
					<g id="tagline" class="transition_one_sec">
						<text transform="matrix(1 0 0 1 66 320)" font-family='ZonaPro-Bold' font-size="40" fill="#8A8A8A">Explore the UK in depth</text>
					</g>
				</g>

				</svg>
    	</div>
    	<div class="text-left">
       	 	<p><a class="btn btn-primary btn-lg" href="/win2" role="button">Begin Exploring</a></p>
    	</div>
    </div>
</div>

