
<div class="jumbotron text-center">
	<h1>Custom Map Chunk Generator</h1>

	<p>{{ tagline }}</p>

	<div class="content">
		x lower left coordinate: <input type="text" id="xll_input"><br>
	  	y lower left coordinate: <input type="text" id="yll_input"><br>
	  	side size of square: <input type="text" id="side_input"><br>
	  	output image size (optional): <input type="text" id="ds_input"><br>
	  	<button ng-click=" do() ">Generate</button>
  	</div>

	<img id="i" src="" width="{{dataLength}}" height="{{dataLength}}" style="display:none" />

</div>