<!-- <div class="jumbotron text-center"> -->
	
	<div id="overlay">
		<div class="container-fluid">
			<div class="btn-group" id="plusminusgroup" role="group">
			  	<button type="button" class="btn btn-default customWidth" id="plusBtn" ng-click="doPlus()">+</button>
				<button type="button" class="btn btn-default customWidth" id="minusBtn" ng-click="doMinus()">-</button>
				<button type="button" class="btn btn-info" id='square-size-display' ng-click="resetSquare()">18km</span>
			</div>
			<button type="button" class="btn btn-default" id="export" ng-click="doExport()">Export Map</button>
		</div>
	</div>

	<div id='map-canvas'></div>

	<div id="image_modal" class="modal fade" role="dialog">	
		<div class="modal-dialog">

	    <!-- Modal content-->
		    <div class="modal-content">
		     	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		         	<h4 class="modal-title">Depth Map</h4>
		     	</div>

		      	<div class="modal-body">
		      		<div id="loading-icon">
			      		<svg x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100">
							<g>
								<circle fill="#FFFFFF" stroke="#158C18" stroke-width="8" stroke-dasharray="11" cx="50" cy="50" r="45.057">
									<animateTransform  to="360 50 50" from="0 50 50" dur="5" type="rotate" attributeName="transform" repeatCount="indefinite" attributeType="XML">
									</animateTransform>
								</circle>
							</g>
							<polygon fill="#158C18" stroke="#158C18" stroke-width="2" points="50,55 35,30 15,70 85,70 65,40 ">
								<animate attributeName="points" begin="0s" dur="2s" repeatCount="indefinite" values="50,55 35,30 15,70 85,70 65,40; 50,55 35,40 15,70 85,70 65,30; 50,55 35,30 15,70 85,70 65,40"/>
							</polygon>
						</svg>
					</div>
					<div id="img-wrapper">
						<img id="i" src="" width="{{dataLength}}" height="{{dataLength}}" style="display:none" />
					</div>
				</div>

				<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
			</div>
		</div>
	</div>

<!-- </div> -->