<!-- <div class="jumbotron text-center"> -->
	<h1>Window 2</h1>

	<p>{{ tagline }}</p>

	<div id='wrapper'>
    	<nav class="navbar navbar-default" id="navigation-bar">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">UK Heightmap Generator</a>
				<div class="btn-group" id="plusminusgroup" role="group">
				  	<button type="button" class="btn btn-default customWidth" id="plusBtn" ng-click="doPlus()">+</button>
				  	<button type="button" class="btn btn-default customWidth" id="minusBtn" ng-click="doMinus()">-</button>
				  	<button type="button" class="btn btn-info" id='square-size-display' ng-click="resetSquare()">18km</span>
				</div>
				<button type="button" class="btn btn-default" id="export" ng-click="doExport()">Export Map</button>
			</div>
		</nav>
		<div id='map-canvas'></div>
	</div>

	<div id="img-wrapper">
		<img id="i" src="" width="{{dataLength}}" height="{{dataLength}}" style="display:none" />
	</div>
<!-- </div> -->