	<!-- <div class="jumbotron text-center"> -->
	<div class="jumbotron jumbo-custom jumbo-map">
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	                	<span class="sr-only">Toggle navigation</span>
	                	<span class="icon-bar"></span>
	               		<span class="icon-bar"></span>
	                	<span class="icon-bar"></span>
	            	</button>
					<a class="navbar-brand" href="/">Terrain UK</a>
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/win2">Normal Map</a></li>
						<li><a href="/win3">Depth Map</a></li>
					</ul>
				</div>
			</div>
			<div id="overlay">
				<button type="button" class="btn btn-default pull-right export-btn" id="export" data-ng-click="doExport()">Export Map</button>
				<div class="btn-group pull-right" role="group">
				  	<button type="button" class="btn btn-default customWidth" id="plusBtnPx" data-ng-click="doPlusPx()">+</button>
					<button type="button" class="btn btn-default customWidth" id="minusBtnPx" data-ng-click="doMinusPx()">-</button>
					<button type="button" class="btn btn-info" id='output-size-display' data-ng-click="resetOutput()">800px</button>
				</div>
				<div class="btn-group pull-right" role="group">
				  	<button type="button" class="btn btn-default customWidth" id="plusBtn" data-ng-click="doPlus()">+</button>
					<button type="button" class="btn btn-default customWidth" id="minusBtn" data-ng-click="doMinus()">-</button>
					<button type="button" class="btn btn-info" id='square-size-display' data-ng-click="resetSquare()">27km</button>
				</div>
			</div>
		</div>
	</div>

	<div id='map-canvas'></div>

	<div id="image_modal" class="modal fade" role="dialog">	
		<div class="modal-dialog modal-custom">

	    <!-- Modal content-->
		    <div class="modal-content">
		     	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		         	<h4>Your Depth Map</h4>
		     	</div>

		      	<div class="modal-body">
					<div id="img-container">
						<img id="i" src="imgs/londonIcon.jpg" alt="" />
					</div>
					<div id="modal-instructions">
						<p> Image Size: {{dataLength}} x {{dataLength}} </p>
						<p> Right-click on the image and select 'Save image as..' </p>
					</div>
				</div>

				<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
			</div>
		</div>
	</div>

<!-- </div> -->