@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 4s linear infinite;
	-moz-animation: rotating 4s linear infinite;
	-ms-animation: rotating 4s linear infinite;
	-o-animation: rotating 4s linear infinite;
	animation: rotating 4s linear infinite;
}

@-webkit-keyframes scaling-up /* Safari and Chrome */ {
	0% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
	50% {
		-ms-transform: scaleY(1.3);
		-moz-transform: scaleY(1.3);
		-webkit-transform: scaleY(1.3);
		-o-transform: scaleY(1.3);
		transform: scaleY(1.3);
	}
	100% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@keyframes scaling-up {
	0% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
	50% {
		-ms-transform: scaleY(1.3);
		-moz-transform: scaleY(1.3);
		-webkit-transform: scaleY(1.3);
		-o-transform: scaleY(1.3);
		transform: scaleY(1.3);
	}
	100% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
}
.scaling-up {
	transform-origin: 35px 70px;
	-webkit-transform-origin: 85px 70px;

	-webkit-animation: scaling-up 2s linear infinite;
	-moz-animation: scaling-up 2s linear infinite;
	-ms-animation: scaling-up 2s linear infinite;
	-o-animation: scaling-up 2s linear infinite;
	animation: scaling-up 2s linear infinite;
}

@-webkit-keyframes scaling-down /* Safari and Chrome */ {
	0% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
	50% {
		-ms-transform: scaleY(0.7);
		-moz-transform: scaleY(0.7);
		-webkit-transform: scaleY(0.7);
		-o-transform: scaleY(0.7);
		transform: scaleY(0.7);
	}
	100% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
}
@keyframes scaling-down {
	0% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
	50% {
		-ms-transform: scaleY(0.7);
		-moz-transform: scaleY(0.7);
		-webkit-transform: scaleY(0.7);
		-o-transform: scaleY(0.7);
		transform: scaleY(0.7);
	}
	100% {
		-ms-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}
}
.scaling-down {
	transform-origin: 35px 70px;
	-webkit-transform-origin: 35px 70px;

	-webkit-animation: scaling-down 2s linear infinite;
	-moz-animation: scaling-down 2s linear infinite;
	-ms-animation: scaling-down 2s linear infinite;
	-o-animation: scaling-down 2s linear infinite;
	animation: scaling-down 2s linear infinite;
}
