@font-face {
font-family: 'ZonaPro-Bold';
src: url("ZonaPro-Bold.otf") format("opentype");
}

body { padding-top:0px; }

/* Title Page + Header Styling */

.jumbo-custom {
    padding: 0px;
    background: url(/imgs/mainBackgroundImage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.normal-map {
    padding: 0px;
    background: #eeeeee;
}

.btn-primary {
    background-color: #8f0c0c;
    border-color: #8f0c0c;
}

.navbar {
    min-height: 50px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
}

.navbar-default {
    background: #eeeeee;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-family: 'ZonaPro-Bold';
    font-size: 18px;
}

.navbar-default .navbar-brand {
    color: black;
    font-family: 'ZonaPro-Bold';
    font-size: 26px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black;
}

.title-section {
    margin: 0 auto;
}

.title-section h1 {
    font-family: 'ZonaPro-Bold';
    font-size: 36px;
    color: black;
}

.title-section h4 {
    font-family: 'ZonaPro-Bold';
    font-size: 18px;
    color: black;
}

.title-buttons a {
    color: white;
}


/* Introduction Page Styling */

.introduction-section {
    margin-bottom: 15px;
}

/* Locations Page Styling */

.locations-section {
    font-family: sans-serif;
    padding-top: 40px;
    background: #eeeeee;
    text-align: center;
}

.locations-section .image-row {
    margin-top: 20px;
    margin-bottom: 80px;
}

.locations-section .image-footer {
    text-align: center
}

.locations-section .image-footer p {
    margin-bottom: 0;
}

.locations-section .image-footer a {
    color: #ff0000;
}

.locations-section .left-col h3 {
    font-family: 'ZonaPro-Bold';
}

.locations-section .right-col h4 {
    font-family: 'ZonaPro-Bold';
    text-align: center;
    margin-top: 50px;
}


.locations-section .right-col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Footer Page Styling */

.footer-section {
    margin-top: 80px;
}

.footer-section .btn-primary {
    margin: auto;
}

.footer-section a {
    color: #6c6c6c;
    background-color: transparent;
    border-color: transparent;
}

.footer-section p {
    color: #6c6c6c;
    text-align: center;
}

/* Oscar's Styling */

#map-canvas {
    background:white;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; /* adjust top margin to your header height */
    z-index: 1;
}

#overlay {
	position:absolute;
    z-index: 2;
    top: 60px;
    right: 0;
}

#logo {
    width: 100%;
    height: 100%;
}

#navigation-bar {
    margin-bottom: 0px; 
}

.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
    no-repeat;
}

.loading-svg-container {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
}

.modal-dialog{
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.hover-start { 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position:absolute; 
    z-index: 3;
    opacity: 1;

} 

.hover-end { 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    z-index: 1;
    opacity: 0
} 

.hover-image-uk {
/*    initial size 1338x2097*/
    max-height: 100%;
    max-width : 100%;
    border-radius: 25px;
}

.transition_three_sec {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    transition: 3s;
}

#map-transition-uk:hover .hover-start {
    opacity: 0;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
}

#map-transition-uk:hover .hover-end {
    opacity: 1;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
}

#map-transition-uk {
    height : 500px;
    width : auto;
    margin: auto;
    overflow: hidden;
}
