@font-face {
font-family: 'ZonaPro-Bold';
src: url("ZonaPro-Bold.otf") format("opentype");
}

@font-face {
font-family: 'ZonaPro-Thin';
src: url("ZonaPro-Thin.otf") format("opentype");
}


/* ####################### */
/* Start of Page 2 Styling */
/* ####################### */


/* Title Page + Header styling */

.jumbo-custom {
    padding: 0px;
    background: url(/imgs/mainBackgroundImage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-custom .btn-primary {
    background-color: #8f0c0c;
    border-color: #8f0c0c;
}

.jumbo-custom .navbar {
    min-height: 50px;
    border: none;
    border-bottom: 1px solid #6c6c6c;
}

.jumbo-custom .navbar-default {
    background: #eeeeee;
}

.jumbo-custom .navbar-default .navbar-nav>li>a {
    color: black;
    font-family: 'ZonaPro-Bold';
    font-size: 18px;
}

.jumbo-custom .navbar-default .navbar-brand {
    color: black;
    font-family: 'ZonaPro-Bold';
    font-size: 26px;
}

.jumbo-custom .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black;
}

.title-section {
    margin: 0 auto;
}

.title-section h1 {
    font-family: 'ZonaPro-Bold';
    font-size: 36px;
    color: black;
}

.title-section h4 {
    font-family: 'ZonaPro-Thin';
    font-size: 18px;
    color: black;
}

.title-buttons a {
    color: white;
}


/* Introduction Page styling */

.introduction-section {
    font-family: 'ZonaPro-Thin';
    margin-bottom: 15px;
}


/* Animated Logo SVG styling (Core logo styling found in logo.css) */

#logo {
    width: 100%;
    height: 100%;
}


/* UK Transition SVG styling */

.hover-start { 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position:absolute; 
    z-index: 3;
    opacity: 1;

} 

.hover-end { 
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    z-index: 1;
    opacity: 0
} 

.hover-image-uk {
    max-height: 100%;
    max-width : 100%;
    border-radius: 25px;
}

.transition_three_sec {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    transition: 3s;
}

#map-transition-uk:hover .hover-start {
    opacity: 0;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
}

#map-transition-uk:hover .hover-end {
    opacity: 1;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
}

#map-transition-uk {
    height : 500px;
    width : auto;
    margin: auto;
    overflow: hidden;
}


/* Locations Page styling */

.locations-section {
    font-family: 'ZonaPro-Thin', sans-serif;
    padding-top: 40px;
    background: #eeeeee;
    text-align: center;
}

.locations-section .image-row {
    margin-top: 20px;
    margin-bottom: 80px;
}

.locations-section .image-footer {
    text-align: center
}

.locations-section .image-footer p {
    margin-bottom: 0;
}

.locations-section .image-footer a {
    color: #ff0000;
}

.locations-section .left-col h3 {
    font-family: 'ZonaPro-Bold';
}

.locations-section .right-col h4 {
    font-family: 'ZonaPro-Bold';
    text-align: center;
    margin-top: 50px;
}

.locations-section .right-col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* Footer Page styling */

.footer-section {
    margin-top: 80px;
}

.footer-section .btn-primary {
    margin: auto;
}

.footer-section a {
    color: #6c6c6c;
    background-color: transparent;
    border-color: transparent;
}

.footer-section p {
    color: #6c6c6c;
    text-align: center;
}


/* ###################### */
/* End of Page 1 styling */
/* ###################### */


/* ####################### */
/* Start of Page 2 styling */
/* ####################### */


/* Additional Navbar styling for Map pages */

.jumbo-map {
    background: transparent;
}

.jumbo-map .navbar-default {
    margin-bottom: 0px;
}


/* Map styling */

#map-canvas {
    background:white;
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index: -1;
}


/* Map Interaction UI styling */

#overlay {
	position:relative;
    z-index: 2;
    top: 0px;
    right: 0;
}

#overlay .btn {
    border: 1px solid black;
    font-family: 'ZonaPro-Bold';
}

#overlay .btn-group{
    border: 1px solid black;
    border-radius: 5px;
}


/* Modal styling */

.modal-dialog{
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.modal-custom {
    font-family: 'ZonaPro-Thin';
}

.modal-custom .modal-content {
    background-color: #eeeeee;
    border-radius: 15px;
}

.modal-custom .modal-header {
    background-color: #eeeeee;
    font-size: 24px;
    border-radius: 15px;
    color: black;
}

.modal-custom #img-container {
    position: relative;
    max-height: 500px;
    max-width: 500px;
}

.modal-custom #img-container img {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal-custom #modal-instructions {
    margin-top: 5%;
    text-align: center;
}


/* Loading Modal SVG styling */

.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
    no-repeat;
}

.loading-svg-container {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
}


/* ###################### */
/* End of Page 2 Styling */
/* ###################### */
